html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-1 {
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: black solid 1.5px;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1rem;
}

.btn-1:hover {
  background: #ff5050;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 5px 8px black;
          box-shadow: 5px 8px black;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-2 {
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  margin-top: 2rem;
}

.btn-2:hover {
  -webkit-box-shadow: 0 0 10px 5px #CEE5FF;
          box-shadow: 0 0 10px 5px #CEE5FF;
  background-color: white;
  color: black;
  border: 1px solid black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.lake {
  margin: 2rem;
  -webkit-clip-path: polygon(0 9%, 100% 9%, 100% 93%, 0 93%);
          clip-path: polygon(0 9%, 100% 9%, 100% 93%, 0 93%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lake:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-clip-path: polygon(6% 14%, 94% 14%, 94% 88%, 6% 88%);
          clip-path: polygon(6% 14%, 94% 14%, 94% 88%, 6% 88%);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.water {
  border-radius: 60%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.water:hover {
  border-radius: 0;
  -webkit-clip-path: none;
          clip-path: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: none;
          filter: none;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.plains-parent {
  position: relative;
  display: inline-block;
  background-color: #baffe1;
  margin: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
}

.plains {
  margin-top: 2rem;
  opacity: 0;
}

.plains-parent:hover .plains {
  opacity: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.plains-parent:hover .header {
  opacity: 0;
}

.plains-parent:hover {
  background-color: white;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */